<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/admin/head :: head('Add New Member')}">
    <title></title>
</head>
<body>
<div class="container">
    <h2 class="mt-5">Add New Member</h2>

    <!-- Form thêm mới người dùng -->
    <form th:action="@{/users/add-user}" th:object="${user}" method="post">
        <input type="hidden" th:field="${user.id}" />
        <div class="mb-3">
            <label for="name" class="form-label">Full Name</label>
            <input type="text" class="form-control" id="name" th:field="${user.fullName}" required>
        </div>
        <button type="submit" class="btn btn-primary">Add User</button>
    </form>

    <!-- Back to user list -->
    <div class="mt-3">
        <a href="/users" class="btn btn-secondary">Back to User List</a>
    </div>
</div>
</body>
</html>
