<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <nav class="col-md-2 d-none d-md-block sidebar" th:fragment="navbar">
        <div class="sidebar-sticky">
            <h4 class="text-white">Dashboard</h4>
            <a th:href="@{/admin}">Overview</a>
            <a th:href="@{/admin}">Articles</a>
            <a th:href="@{/admin}">Analytics</a>
            <a th:href="@{/admin/users}">Users</a>
            <a th:href="@{/admin}">Settings</a>
        </div>
    </nav>
</body>
</html>