<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Admin Dashboard</a>
        <!-- Nút toggle cho mobile -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarAdmin"
                aria-controls="navbarAdmin" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar content -->
        <div class="collapse navbar-collapse" id="navbarAdmin">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/admin}">Overview</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/articles}">Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/analytics}">Analytics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/users}">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/settings}">Settings</a>
                </li>
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" th:href="@{/logout}">Logout</a>-->
<!--                </li>-->
            </ul>
        </div>
    </div>
</nav>
</body>
</html>