<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/head :: head('Schedules Management')}">
    <title></title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <nav th:replace="~{admin/navbar :: navbar}"></nav>

        <!-- Main Content -->
        <main role="main" class="container">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Competition Table Management</h1>
            </div>
            <!-- User Table -->
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="competitionTable : ${competitionTables}">
                        <td th:text="${competitionTable.competitionTableId}"></td>
                        <td id="name" th:text="${competitionTable.name}"></td>
                        <td>
                            <a class="btn btn-primary btn-sm" th:href="@{'/admin/schedules/' + ${competitionTable.competitionTableId}}">Detail</a>
                            <a class="btn btn-danger btn-sm disabled">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- Add New Competition Table Button -->
            <div>
                <button class="btn btn-success disabled" onclick="window.location.href='/users/add-user'">Add New Competition Table</button>
            </div>
        </main>
    </div>
</div>
</body>
</html>
