.col-md-6 {
    padding: 0;
}
.flag {
    width: 16px;
    height: 20px;
    margin-right: 8px;
}
.winner {
    font-weight: bold;
}
.loser {
    color: #6c757d;
}
.table {
    border: 1px solid #dee2e6;
    border-collapse: collapse;
}
.table th, td {
    border: none;
    white-space: nowrap;
}
td:nth-child(1), th:nth-child(1) {
    width: 200px;
}
