<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{client/head :: head('Trang chủ')}">
  <title></title>
</head>

<body>
<!-- Navbar -->
<nav th:replace="~{client/navbar :: navbar}"></nav>

<div class="banner">
  <img style="width: 100%;" th:src="@{/client/images/banner.jpg}" alt="" src="">
</div>

<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4 text-center">Chào mừng đến với King Of Badminton</h1>
  <!--<p class="lead text-center">Cập nhật tin tức mới nhất từ câu lạc bộ King of Badminton.</p>-->
</div>

<div class="container my-5">
  <h2 class="mb-4">Giải cầu lông God of Thunder 2024</h2>
  <div class="row">
    <div class="col-md-8">
      <div class="ratio ratio-16x9">
        <video controls>
          <source th:src="@{/client/video/video1.mp4}" loop type="video/mp4" src="">
          Trình duyệt của bạn không hỗ trợ thẻ video.
        </video>
      </div>
    </div>
  </div>
  <div style="margin-bottom: 40px"></div>
  <h2 class="mb-4">Random lịch đấu Great Emperor Open 2024</h2>
  <div class="row">
    <div class="col-md-8">
      <div class="ratio ratio-16x9">
        <video controls>
          <source th:src="@{/client/video/video2.mp4}" loop type="video/mp4" src="">
          Trình duyệt của bạn không hỗ trợ thẻ video.
        </video>
      </div>
    </div>
  </div>
</div>
<!-- Footer -->
<footer th:replace="~{client/footer :: footer}"></footer>
</body>
</html>
