<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{client/head :: head('Lịch thi đấu')}">
    <title></title>
</head>
<body>
<link rel="stylesheet" type="text/css" th:href="@{/client/css/schedules.css}">
<nav th:replace="~{client/navbar :: navbar}"></nav>
<div class="container my-4">
    <div class="row justify-content-center">
        <div class="row">
            <div th:if="${tournamentIsNullOrEmpty != null && tournamentIsNullOrEmpty != ''}" class="card-title text-center" th:text="${tournamentIsNullOrEmpty}"></div>
            <th:block th:if="${tournamentIsNullOrEmpty == null || tournamentIsNullOrEmpty == ''}" th:each="tournament : ${tournaments}">
                <h5 class="tournament">Giải cầu lông [[${tournament.name}]]</h5>
                    <th:block th:each="competition, iter : ${competitions}">
                        <button th:onclick="'openTab(event, \'Tab' + ${iter.index} + '\')" th:text="${competition}" class="tabLinks col-md-4 col-4" th:id="'tab-' + ${iter.index}"></button>
                    </th:block>
                    <th:block th:each="schedule : ${schedules}">
                            <div class="col-md-6">
                                <table class="table">
                                    <thead>
                                    <tr class="">
                                        <th>[[${schedule.category}]]</th>
                                        <th>Kết quả</th>
                                        <th>Thời gian</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class=>
                                            <img th:if="${schedule.imageAthlete1 != null && schedule.imageAthlete1 != ''}" th:src="@{'/client/images/member/' + ${schedule.imageAthlete1}}" alt="Image Athlete one" class="flag" src="">
                                            <img th:if="${schedule.imageAthlete1 == null || schedule.imageAthlete1 == ''}" th:src="@{/client/images/member/default_user.jpg}" alt="Image Athlete one" class="flag" src="">
                                            <span th:class="${schedule.finalResultAthlete1 > schedule.finalResultAthlete2 ? 'winner' : 'loser'}">[[${schedule.athlete1}]]</span>
                                        </td>
                                        <td th:class="${schedule.finalResultAthlete1 > schedule.finalResultAthlete2 ? 'winner' : 'loser'}" th:text="${schedule.resultRound1Athlete1 == null || schedule.resultRound2Athlete1 == null || schedule.resultRound3Athlete1 == null ? schedule.finalResultAthlete1 : schedule.resultRound1Athlete1 + ' ' + schedule.resultRound2User1 + ' ' + schedule.resultRound3User1}"></td>
                                        <td th:text="${#temporals.format(schedule.time, 'dd-MM-yyyy')}"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img th:if="${schedule.imageAthlete2 != null && schedule.imageAthlete2 != ''}" th:src="@{'/client/images/member/' + ${schedule.imageAthlete2}}" alt="Image User two" class="flag" src="">
                                            <img th:if="${schedule.imageAthlete2 == null || schedule.imageAthlete2 == ''}" th:src="@{/client/images/member/default_user.jpg}" alt="Image User two" class="flag" src="">
                                            <span th:class="${schedule.finalResultAthlete2 < schedule.finalResultAthlete1 ? 'loser' : 'winner'}">[[${schedule.athlete2}]]</span>
                                        </td>
                                        <td th:class="${schedule.finalResultAthlete2 < schedule.finalResultAthlete1 ? 'loser' : 'winner'}" th:text="${schedule.resultRound1Athlete2 == null || schedule.resultRound2Athlete2 == null || schedule.resultRound3Athlete2 == null ? schedule.finalResultAthlete2 : schedule.resultRound1Athlete2 + ' ' + schedule.resultRound2Athlete2 + ' ' + schedule.resultRound3Athlete2}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </th:block>
                    <th:block th:each="schedule : ${schedules}">
                    <div class="col-md-6">
                        <table class="table">
                            <thead>
                            <tr class="">
                                <th>[[${schedule.category}]]</th>
                                <th>Kết quả</th>
                                <th>Thời gian</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class=>
                                    <img th:if="${schedule.imageAthlete1 != null && schedule.imageAthlete1 != ''}" th:src="@{'/client/images/member/' + ${schedule.imageAthlete1}}" alt="Image Athlete one" class="flag" src="">
                                    <img th:if="${schedule.imageAthlete1 == null || schedule.imageAthlete1 == ''}" th:src="@{/client/images/member/default_user.jpg}" alt="Image Athlete one" class="flag" src="">
                                    <span th:class="${schedule.finalResultAthlete1 > schedule.finalResultAthlete2 ? 'winner' : 'loser'}">[[${schedule.athlete1}]]</span>
                                </td>
                                <td th:class="${schedule.finalResultAthlete1 > schedule.finalResultAthlete2 ? 'winner' : 'loser'}" th:text="${schedule.resultRound1Athlete1 == null || schedule.resultRound2Athlete1 == null || schedule.resultRound3Athlete1 == null ? schedule.finalResultAthlete1 : schedule.resultRound1Athlete1 + ' ' + schedule.resultRound2User1 + ' ' + schedule.resultRound3User1}"></td>
                                <td th:text="${#temporals.format(schedule.time, 'dd-MM-yyyy')}"></td>
                            </tr>
                            <tr>
                                <td>
                                    <img th:if="${schedule.imageAthlete2 != null && schedule.imageAthlete2 != ''}" th:src="@{'/client/images/member/' + ${schedule.imageAthlete2}}" alt="Image User two" class="flag" src="">
                                    <img th:if="${schedule.imageAthlete2 == null || schedule.imageAthlete2 == ''}" th:src="@{/client/images/member/default_user.jpg}" alt="Image User two" class="flag" src="">
                                    <span th:class="${schedule.finalResultAthlete2 < schedule.finalResultAthlete1 ? 'loser' : 'winner'}">[[${schedule.athlete2}]]</span>
                                </td>
                                <td th:class="${schedule.finalResultAthlete2 < schedule.finalResultAthlete1 ? 'loser' : 'winner'}" th:text="${schedule.resultRound1Athlete2 == null || schedule.resultRound2Athlete2 == null || schedule.resultRound3Athlete2 == null ? schedule.finalResultAthlete2 : schedule.resultRound1Athlete2 + ' ' + schedule.resultRound2Athlete2 + ' ' + schedule.resultRound3Athlete2}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </th:block>
            </th:block>
        </div>
    </div>
</div>
<footer th:replace="~{client/footer :: footer}"></footer>
</body>
</html>
