<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{client/head :: head('Lịch thi đấu')}">
    <title></title>
</head>
<body>
<link rel="stylesheet" type="text/css" th:href="@{/client/css/schedules.css}">
<nav th:replace="~{client/navbar :: navbar}"></nav>
<div class="container my-4">
    <div class="row justify-content-center">
        <div class="row">
            <div th:if="${tournamentIsNullOrEmpty != null && tournamentIsNullOrEmpty != ''}" class="card-title text-center" th:text="${tournamentIsNullOrEmpty}"></div>
            <th:block th:if="${tournamentIsNullOrEmpty == null || tournamentIsNullOrEmpty == ''}" th:each="tournament : ${tournaments}">
                <h5 class="text-center">Giải cầu lông [[${tournament.name}]]</h5>
                <h5 class="mb-4 text-center">Lịch thi đấu</h5>
                        <th:block th:each="schedule : ${schedules}">
                            <div class="col-md-6">
                                <table class="table">
                                    <thead>
                                    <tr class="">
                                        <th>[[${schedule.category}]]</th>
                                        <th>Kết quả</th>
                                        <th>Thời gian</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class=>
                                            <img th:if="${schedule.imageUser1 != null && schedule.imageUser1 != ''}" th:src="@{'/client/images/member/' + ${schedule.imageUser1}}" alt="Image User one" class="flag" src="">
                                            <img th:if="${schedule.imageUser1 == null || schedule.imageUser1 == ''}" th:src="@{/client/images/member/default_user.jpg}" alt="Image User one" class="flag" src="">
                                            <span th:class="${schedule.finalResultUser1 > schedule.finalResultUser2 ? 'winner' : 'loser'}">[[${schedule.user1}]]</span>
                                        </td>
                                        <td th:class="${schedule.finalResultUser1 > schedule.finalResultUser2 ? 'winner' : 'loser'}" th:text="${schedule.resultRound1User1 == null || schedule.resultRound2User1 == null || schedule.resultRound3User1 == null ? schedule.finalResultUser1 : schedule.resultRound1User1 + ' ' + schedule.resultRound2User1 + ' ' + schedule.resultRound3User1}"></td>
                                        <td th:text="${#temporals.format(schedule.time, 'dd-MM-yyyy')}"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img th:if="${schedule.imageUser2 != null && schedule.imageUser2 != ''}" th:src="@{'/client/images/member/' + ${schedule.imageUser2}}" alt="Image User two" class="flag" src="">
                                            <img th:if="${schedule.imageUser2 == null || schedule.imageUser2 == ''}" th:src="@{/client/images/member/default_user.jpg}" alt="Image User two" class="flag" src="">
                                            <span th:class="${schedule.finalResultUser2 < schedule.finalResultUser1 ? 'loser' : 'winner'}">[[${schedule.user2}]]</span>
                                        </td>
                                        <td th:class="${schedule.finalResultUser2 < schedule.finalResultUser1 ? 'loser' : 'winner'}" th:text="${schedule.resultRound1User2 == null || schedule.resultRound2User2 == null || schedule.resultRound3User2 == null ? schedule.finalResultUser2 : schedule.resultRound1User2 + ' ' + schedule.resultRound2User2 + ' ' + schedule.resultRound3User2}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </th:block>
            </th:block>
        </div>
    </div>
</div>
<footer th:replace="~{client/footer :: footer}"></footer>
</body>
</html>
