<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/admin/head :: head('Add New Tournament')}">
    <title></title>
</head>
<body>
<div class="container">
    <h2 class="mt-5" th:text="${title}"></h2>

    <!-- Form thêm mới người dùng -->
    <form th:action="@{/admin/competitionTables/save}" th:object="${competitionTable}" method="post">
        <input type="hidden" th:field="${competitionTable.competitionTableId}" />
        <input type="hidden" th:field="${competitionTable.tournament.tournamentId}" />
        <div class="mb-3">
            <label for="name" class="form-label">Competition table name:</label>
            <input type="text" class="form-control" id="name" th:field="${competitionTable.name}" required>
        </div>
        <button type="submit" class="btn btn-primary" th:text="${competitionTable.competitionTableId != null ? 'Update Competition table' : 'Add Competition table'}"></button>
    </form>
</div>
</body>
</html>
