<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/head :: head('Schedules Management')}">
    <title></title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <nav th:replace="~{admin/navbar :: navbar}"></nav>

        <!-- Main Content -->
        <main role="main" class="col-md-9ml-sm-auto col-lg-10 content mx-auto">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2" th:text="${title}"></h1>
            </div>
            <div th:if="${success!=null}" class="alert alert-success text-center">
                [[${success}]]
            </div>
            <div th:if="${message != null && message != ''}" class="card-title text-center" th:text="${message}"></div>
            <!-- Competition Table -->
            <div class="table-responsive" th:if="${message == '' || message == null}">
                <table class="table table-striped table-sm">
                    <input type="hidden" th:field="${tournamentId}" />
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="competitionTable : ${competitionTables}">
                        <td th:text="${competitionTable.competitionTableId}"></td>
                        <td id="name" th:text="${competitionTable.name}"></td>
                        <td>
                            <a class="btn btn-info btn-sm">Athletes</a>
                            <a class="btn btn-primary btn-sm" th:href="@{'/admin/tournaments/' + ${tournamentId} + '/competitionTables/update/' + ${competitionTable.competitionTableId}}">Update</a>
                            <a class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- Add New Competition Table Button -->
            <div>
                <a class="btn btn-success" th:href="@{'/admin/tournaments/' + ${tournamentId} + '/new'}">Add New Competition Table</a>
            </div>
        </main>
    </div>
</div>
</body>
</html>
